*.md linguist-language=Markdown linguist-detectable=true
*.html linguist-language=HTML linguist-detectable=true
/docs/** linguist-documentation=false
/docs/.vitepress/dist/** -linguist-generated linguist-language=HTML linguist-detectable=true